/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Changing the main font and background colour */

body {
	font-family: Montserrat, sans-serif;
	background: #B21702;
}

.corporate{
	background: #f2f2f2;
}


.h-100 .mb-4{
	margin-top: 200px;
	
}


/*navbar adjusments*/

.navbar{
	position: fixed;
	z-index: 9999;
	top: auto;
	width: 100%;
	background-color: #f2f2f2;
	padding: .1px 55px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
	
	

.navbar a{
	font-family: Montserrat, Sans-serif;
	
	float: right;
	font-size: 25px;
	text-align: center;
	text-decoration: none;
	width: 250px;
	font-weight: 400;
	letter-spacing: 1px;
	color: #B21702;
	padding: 5px 15px;
	border-radius: 20px;
	transition: .3s;
	transition-property: background;
}
.navbar a:hover{
	color: #FFEBE8;
	background: #B21702;
}
	
.navbar a.active{
	color: #FFEBE8;
	background: #B21702;
	
}

.navbar .navbar-brand img{
	width: 300px;
}
.navbar .navbar-brand:hover{
	background: #F2f2f2;
}

.nav-account .nav-link{
	color: #C24D3E;
	
}

.nav-account .nav-link:hover{
	background: none;
	color: #C24D3E;
	opacity: .5;
}

label{
	display: none;
}

#check {
	z-index:3;
	display: none;
}


/*landing page layout*/
#landing-p{
	position: relative;
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-image: url("../images/pexels-katya-wolf-8729181.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.content{
	max-width: 1000px;
	margin: 150px 60px;
}
.content .info h2{
	font-size: 60px;
	font-weight: bold;
	padding-top: 100px; 
	text-align: left;
	text-transform: uppercase;
	color: #B21702;
	letter-spacing: .5px;
	line-height: 80px;
	text-shadow: 1px 1px 8px #020202;
	margin-bottom: 40px;
}
.content .info h2 span{
	color: white;
	font-size: 60px;
	font-weight: bold;
}

.content .info p{
	font-size: 16px;
	max-width: 650;
	line-height: 27px;	
	text-shadow: .1px .1px 2px #020202;
	padding-bottom: 10px;
	color: white;
	font-weight: 400;
	text-decoration: underline;
}

.content .info-btn{
	color: white;
	background: #B21702;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 2px;
	padding: 10px 30px; 
	border-radius: 7px;
	transition: .8s;
	transition-property: background;
	
}
.content .info-btn:hover{
	background: #930F00
}

.media-icons{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	
}

.media-icons a{
	position: relative;
	color: #FFFFFF;
	font-size: 75px;
	text-shadow: 1px 1px 10px #020202;
}

.media-icons a:not(:last-child){
	margin-right: 60px;
}

.media-icons a:hover{
	transform: scale(1.5);
	transition: .3s;
	transition-property: transform;
}

/*end landing page layout*/

/*upspire & you section*/
.background{
	background-color: #f2f2f2;
	background-size: cover;
}
.upspire-you h3{
	font-family: Montserrat;
	font-size: 33px;
	font-weight: 500;
	color: #B04900;
	text-align: center;
	letter-spacing: 2px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.upspire-you p{
	font-family: Montserrat;
	font-style: italic;
	font-size: 20px;
	font-weight: 400;
	color: #1B1A1A;
	text-align: center;
	letter-spacing: 2px;	
}
.card{
	box-shadow: .1px .1px 10px #2B2B2B;
	border: none;
	color: #2B2B2B
}

/*corporate page*/


.py-2 .fw-light{
	margin-top: 150px;
	color: #B21702;
}

.list-details li::before, .skill-list li::before {
	content: "-";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: 1em;
}

.list-details li{
	margin-left: .1em;
	margin-bottom: 20px;
	
}

table {
	font-size: 12px;
}

.list-details .table{
	margin-top: 50px;
	margin-bottom: -30px;
	font-weight: 500;
}
p span{
	font-weight: 500;
}

.italic{
	font-style: italic;
	font-weight: 500;
}

li span{
	font-weight: 500;
}

.justification{
	margin-left: 1em;
}

.container .py-4 p{
	margin-left: 1em;
} 
.space{
	margin-bottom: 10px;
}

.post-show{
	margin-top: 50px;
	margin-bottom: 20px;
}

.col .m-2 video:hover{
	opacity: .5;
}

.col .m-2 img:hover{
	opacity: .5;
	transition: .3s;
}

/*Mission page*/

.lead{
	font-family: Montserrat, sans-serif;
	margin-top: 20px;
	font-style: italic;
	font-weight: 400;
	text-align: center;
	width: 750px;
	
}
.message{
	margin-top: 80px;
	margin-bottom: 200px;
	border-width: 10px;
	border-style: solid;
	border-color: #D45800;
	box-shadow: 0px 0px 5px 2px #595959;
	font-size: 30px;
	margin-left: -300px;
	margin-right: -300px;
	text-align: center!important;
	padding: 100px 20px;
}

.py-5 .message{
	font-size: 45px;
	font-style: italic;
}

.team{
	margin-top: 200px;
}

.values{
	margin-top: 200px;
}

.cardvalues{
	border-style: none;
}

.cardvalue text{
	font-weight: 600;
	color: #6A041A;
	margin-top: 8px;
	padding-bottom: 8px;
	font-size: 20px;
}

.teamcard text{
	font-weight: 600;
	color: #AC760C;
	margin-top: 8px;
	font-size: 20px;
	
}

.card-body .card-text{
	font-weight: 400;
	color: #AC760C;
	margin-top: 2px;
	margin-left: 1em;
	font-size: 15px;
}

.card-body .card-text span{
	font-weight: 500;
}
/*sneakers page*/

.bd-placeholder-img:hover{
	transform: scale(1.06);
	transition: .3s;
	transition-property: transform;
}
.card text{
	font-family: Arimo, sans-serif;
	margin: 10px;
	letter-spacing: 2px;
	font-weight: thin;
	color: #4F4F4F;
	
	 
}

.card{
	border-style: solid;
	border-width: 6px;
	border-color: #D45800;
	border-top: none;
	border-right: none;
	border-left: none;
}
.outer{
	border-style: solid;
	border-width: 60px;
	border-left: none;
	border-right: none;
	border-top: none;
	border-color: #D45800;
}
.fw-light{ 
	margin-top: 80px;
	margin-bottom: -10px;
	font-family: Arimo, sans-serif;
	text-transform: uppercase;
	font-size: 50px;
	width: auto;
	letter-spacing: 4px;
	font-weight: 600 !important; 
	color: #D45800;
}




.showcase .album{
	background-color: #f2f2f2!important;
}
/* Footer styles */

footer{
	font-weight: 400;
	font-size: 15px;
	text-transform: uppercase;
	color: #B21702;
}

.footer-b {
	background: #f2f2f2;
	
}
footer a:hover {
	opacity: .5;
}

footer .list-unstyled a{
	position: relative;
	color: #B21702;
	letter-spacing: 20px;
	font-size: 40px;
}


/* responsive nav styles*/

@media(max-width: 1450px){
	
	header .navigation{
		display: none;
	}
	.navbar .navbar-brand img{
	width: 275px;
}
	
	label{
		display: block;
		font-size: 25px;
		cursor: pointer;
		transition: 0.3s;
		transition-property: color;
	}
	
	label:hover{
	color: #B21702;
	}
	
	label .close-btn{
		display: none;		
	}
	
	label .close-btn:hover{
	opacity: .5;	
	}
	
	#check:checked ~ header .navigation{
		z-index: 2;
		position: fixed;
		background: rgba(114, 14, 0, 0.9);
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		
	}
	
	#check:checked ~ header .navigation a{
		font-weight: 500;
		margin-right: 0;
		margin-bottom: 50px;
		letter-spacing: 2px;
		color: white;
	}
	#check:checked ~ header label .menu-btn{
		display: none;
		
	}
	#check:checked ~ header label .close-btn{
		z-index: 2;
		display: block;
		position: fixed;
		color: white;
	}
	
	label .menu-btn{
		position: absolute;
	}
	
	.content{
		max-width: 700px;
	}
	.content .info h2{
		font-size: 40px;
		line-height: 80px;
	}
	
     .content .info h2 span{
		font-size: 40px;
	}
	 .content .info p{
		font-size: 18px;
	}

}
@media(max-width: 1500px){
	
	.navbar .navigation a{
	    width: 220px;
}
@media(max-width: 1300px){
	
	.navbar .navigation a{
	    width: 200px;
}	
	.message{
	margin-top: 80px;
	margin-bottom: 175px;
	border-width: 8px;
	border-style: solid;
	border-color: #D45800;
	box-shadow: 0px 0px 5px 2px #595959;
	margin-left: -200px;
	margin-right: -200px;
	text-align: center!important;
	padding: 100px 20px;
}

.py-5 .message{
	font-size: 35px;
	font-style: italic;
}
	
	.lead{
	font-family: Montserrat, sans-serif;
	margin-top: 20px;
	font-style: italic;
	font-weight: 400;
	text-align: center;
	width: auto;
	
}
	.fw-light{ 
	margin-top: 80px;
	margin-bottom: -10px;
	font-family: Arimo, sans-serif;
	text-transform: uppercase;
	font-size: 30px;
	width: auto;
	letter-spacing: 4px;
	font-weight: 600 !important; 
	color: #D45800;
}
}

@media(max-width: 991px){
	
	.navigation .navbar-nav a{
		font-size: 30px;
		line-height: 40px;
	}
	
	.fw-light{
		margin-top: 70px;
	}
	
.container p{
		font-size: 14px;
	}
	
header .fw-light{
		font-size: 35px !important;
	}	
	
	.container h2{
		font-size: 25px;
	}	
	
    .container h4{
		font-size: 20px;
	}	
	
	.message{
		margin-top: 80px;
		margin-bottom: 175px;
		border-width: 8px;
		border-style: solid;
		border-color: #D45800;
		box-shadow: 0px 0px 5px 2px #595959;
		margin-left: auto;
		margin-right: auto;
		text-align: center!important;
		padding: 100px 20px;
}

	.py-5 .message{
		font-size: 25px;
		font-style: italic;
}
}

@media (max-width: 560px){
	
	.navbar .navbar-brand img{
		width: 230px;
		margin-left: -130px;
}
	.content .info h2{
		font-size: 30px;
		line-height: 50px;
		font-weight: 600;
	}
	
	.content .info h2 span{
		font-size: 30px;
		font-weight: 500;
	}
	.content .info p{
		font-size: 14px;
	}	
	
		.navigation .navbar-nav a{
		font-size: 25px;
		line-height: 20px;
	}
	
	.container p{
		font-size: 12px;
	}
    .space{
		font-size: 12px;
	}
    header .fw-light{
		font-size: 25px !important;
	}	
	
	.container h2{
		font-size: 18px;
	}	
	
   	.container h4{
		font-size: 16px;
	}
	
	.container h5{
		font-size: 14px;
	}
}
	.container .list-details li{
		font-size: 12px;
	}
	
	.py-5 .message{
		font-size: 20px;
		font-style: italic;
}

@media (max-width: 466px){
	
	 .navbar .navbar-brand img{
		width: 150px;
		position: relative;
		margin-left: -100px; 
	}
	label .menu-btn{
		position: absolute;
	}
	
	.content .info h2{
		font-size: 20px;
		line-height: 50px;
		font-weight: 600;
	}
	
	.content .info h2 span{
		font-size: 20px;
		font-weight: 500;
	}
	.navigation .navbar-nav a{
		font-size: 20px;
		line-height: 15px;
	}
	
}

@media (max-width: 300px){
	.navbar .navbar-brand img{
		position: relative;
		width: 100px;
		margin-left: auto; 
	}
	
	table {
	font-size: 10px;
}

	
}
/*end responsive nav styles*/

}